<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--     <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Edit Medication</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h2>Edit Medication</h2>
    <div class="container">
        <form method="post">
            <table>
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Current Value</th>
                        <th>New Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Brand Name</strong></td>
                        <td>{{ medication[1] }}</td>
                        <td><input type="text" name="brand_name" value="{{ medication[1] }}" required></td>
                    </tr>
                    <tr>
                        <td><strong>Medication Name</strong></td>
                        <td>{{ medication[2] }}</td>
                        <td><input type="text" name="medication_name" value="{{ medication[2] }}" required></td>
                    </tr>
                    <tr>
                        <td><strong>Expiry Date (YYYY/MM)</strong></td>
                        <td>{{ medication[3] }}</td>
                        <td><input type="text" name="expiry_date" value="{{ medication[3] }}" placeholder="YYYY/MM"
                                required></td>
                    </tr>
                    <tr>
                        <td><strong>Location</strong></td>
                        <td>{{ medication[4] }}</td>
                        <td><input type="text" name="location" value="{{ medication[4] }}"></td>
                    </tr>
                    <tr>
                        <td><strong>Notes</strong></td>
                        <td>{{ medication[5] if medication[5] else 'No Notes' }}</td>
                        <td><textarea name="notes">{{ medication[5] if medication[5] else '' }}</textarea></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div style="text-align: center;">
                <button type="submit"
                    onclick="return confirm('Are you sure you want to save the changes?');">Confirm</button>
                <button type="button" onclick="window.location.href='/'">Cancel</button>
            </div>
        </form>
    </div>
</body>

</html>
